$fa-font-path: "~font-awesome/fonts" !default;
@import "~font-awesome/scss/font-awesome";

$background: #ff00ff;

body {
  background: $background;
  transform: translateX(10px);
}

h1 {
  color: #0000FF;
}
