<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/" class="navbar-item"><span class="has-text-weight-bold">Articles editor</span></a>
    </div>
    <div class="navbar-menu is-active">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown" id="dropdown-menu">
                <a href="#" class="navbar-link">Select an article...</a>

                <div class="navbar-dropdown" id="dropdown-list">
                    <div class="custom-spinner-container"><span class="custom-spinner"></span></div>
                </div>
            </div>
            <div class="navbar-item">
                <button class="button is-light">
                    <span class="icon"><i class="fa fa-plus"></i></span>
                    <span>New article</span>
                </button>
            </div>
        </div>
        <div class="navbar-end">
            <a href="https://github.com/nymous-experiments/EBM-FrontendBackend" class="navbar-item">
                <span class="icon is-large"><i class="fa fa-2x fa-github"></i></span>
            </a>
        </div>
    </div>
</nav>
