<section class="section" id="message-section">
    <div class="container">
        <div class="message is-warning">
            <div class="message-header">No article selected!</div>
            <div class="message-body">
                Please choose a title from the dropdown above...
            </div>
        </div>
    </div>
</section>

<section class="hero is-large" id="article-loading">
    <div class="hero-body">
        <div class="container" id="article-loading-spinner-container">
            <span id="article-loading-spinner"></span>
        </div>
    </div>
</section>

<section class="section" id="article-section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <h1 class="level-item title" id="article-title"></h1>
            </div>
            <div class="level-right">
                <button class="level-item button is-light" id="add-paragraph">
                    <span class="icon"><i class="fa fa-plus"></i></span>
                    <span>New paragraph</span>
                </button>
            </div>
        </div>
        <div id="article-paragraphs-container"></div>
    </div>
</section>
