@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";

@import "~bulma/sass/utilities/mixins";

@import "~bulma/sass/layout/section";
@import "~bulma/sass/layout/hero";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/form";
@import "~bulma/sass/components/message";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/content";

#article-section {
  display: none;
}

#article-loading {
  display: none;
}

#article-loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#article-loading-spinner {
  @include loader;
  font-size: 10rem;
  padding: 0.2em;
}

.paragraph-container {
  position: relative;
}

#article-title {
  padding: 0.3em;

  &:hover {
    background: #fbfbfb;
  }
}

.article-paragraph, .article-paragraph-edition {
  padding: 1em;
  margin: 0.5em;
  background: #fbfbfb;
  border-radius: 6px;
}

.article-paragraph {
  user-select: none;
}

.textarea {
  padding: 1em;
}

.drag-placeholder {
  @extend .article-paragraph;

  height: 6rem;
  background: #fbf9ca;
}

.drag-handle {
  position: absolute;
  top: 0.8em;
  right: 1.2em;
}
