<section class="section" id="message-section">
    <div class="container">
        <div class="message is-warning">
            <div class="message-header">No article selected!</div>
            <div class="message-body">
                Please choose a title from the dropdown above...
            </div>
        </div>
    </div>
</section>

<section class="section" id="article-section">
    <div class="container">
        <h1 class="title">Title</h1>

        <div class="content">
            <p class="article-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur culpa dolor et fugiat iure modi
                pariatur quaerat veniam vitae. Aspernatur dicta dolor enim ex optio quidem quos sed sequi tempore? Lorem
                ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto deleniti dolor doloremque
                error ipsum itaque iusto laborum, modi nemo non pariatur provident qui quis quos rerum tempore velit,
                voluptates?</p>
            <p class="article-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur culpa dolor et fugiat iure modi
                pariatur quaerat veniam vitae. Aspernatur dicta dolor enim ex optio quidem quos sed sequi tempore?</p>
            <p class="article-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur culpa dolor et fugiat iure modi
                pariatur quaerat veniam vitae. Aspernatur dicta dolor enim ex optio quidem quos sed sequi tempore?</p>
            <p class="article-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur culpa dolor et fugiat iure modi
                pariatur quaerat veniam vitae. Aspernatur dicta dolor enim ex optio quidem quos sed sequi tempore?</p>
        </div>
    </div>
</section>
