<!DOCTYPE html>
<html lang="fr" class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Article Editor</title>
</head>
<body>

{{> components/navbar/navbar }}

{{> components/article/article }}

</body>
</html>
